<div id="footer">
    <div class="container" style="padding-top:15px">

        <p class="pull-left">©
            <a href="https://mixbuffet.fr">Mix Buffet</a> 
        </p>
    </div>

</div>

</body>
</html>