<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=Ò, initial-scale=1.0">
    <title>Yealink PhoneBook Manager</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var hook = false;
        window.onbeforeunload = function () {
            if (hook) {
                return "Did you save your changes?"
            }
        }
        function sethook() {
            hook = true;
        }
        function unhook() {
            hook = false;
        }
    </script>
</head>
<body style>

    <div id="wrap">
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand">Yealink PhoneBook Manager</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" style=" margin-top:20px">
    
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5" style="padding-right:0px">
                    <!-- {{ render(url('source_upload')) }} -->
                </div>
            </div>
            <div class="row" >
                <div class="page-header">
                    <p class="text-center" style="font-size:200%">Liste des annuaires</p>
                </div>
                <div class="col-xs-2 col-md-2"></div>
                <div class=" col-xs-12 col-md-8 " id="filesListing" style="margin-top:10px">
                    <div class="container">
                        <div class="row">
                          <div class="col-10">
                            

                            <div class="list-group">
                              <% for (const item of phoneBooks) { %>
                                <a href="/contacts/<%= item%>" class="list-group-item list-group-item-action"><%= item%></a>
                                
                                <% } %>
                            </div>


                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-xs-2 col-md-2"></div>
            </div>
    </div>
    
    <div id="footer">
        <div class="container" style="padding-top:15px">
    
            <p class="pull-left">©
                <a href="https://mixbuffet.fr">Mix Buffet</a>
            </p>
        </div>
    
    </div>
    
    
    </body>
</html>